<<<<<<< HEAD
/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
tails.  You should have received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/
=======
@charset "UTF-8";
// Copyright (C) 2019 tribe29 GmbH - License: GNU General Public License v2
// This file is part of Checkmk (https://checkmk.com). It is subject to the terms and
// conditions defined in the file COPYING, which is part of this source code package.
>>>>>>> upstream/master

/* Global style used by all HTML pages, even by sidebar and
   mobile interface */

/*-------------------------------------------------------------------------.
|                ____        __             _ _                            |
|               |  _ \  ___ / _| __ _ _   _| | |_ ___                      |
|               | | | |/ _ \ |_ / _` | | | | | __/ __|                     |
|               | |_| |  __/  _| (_| | |_| | | |_\__ \                     |
|               |____/ \___|_|  \__,_|\__,_|_|\__|___/                     |
|                                                                          |
+--------------------------------------------------------------------------+
| Default values for general styles used in all parts of Multisite. These  |
| styles are used in the Status-GUI, WATO and other modules based on the   |
| basic Multisite layout. They are not used by the Mobile GUI.             |
'-------------------------------------------------------------------------*/

/* Change some general defaults of HTML that we do not like */
<<<<<<< HEAD
td, th {
=======
td,
th {
>>>>>>> upstream/master
  vertical-align: top;
}

div {
  padding: 0;
  margin: 0;
}

img {
  border-style: none;
}

th {
  white-space: nowrap;
}

/* Default font size for the complete Multisite GUI */
<<<<<<< HEAD
button, input, td, th, select, textarea {
=======
button,
input,
td,
th,
select,
textarea {
>>>>>>> upstream/master
  font-size: 12px;
}

input.number {
  text-align: right;
}

/* Styling for input elements */
<<<<<<< HEAD
input, select, textarea {
=======
input,
select,
textarea {
>>>>>>> upstream/master
  padding: 3px;
  margin-top: 0;
  font-family: arial, helvetica, sans-serif;
  vertical-align: middle;
<<<<<<< HEAD
  background-color: #fff;
  border: 1px #73767a solid;
=======
  background-color: rgb(255, 255, 255);
  border: none;
>>>>>>> upstream/master
  outline-style: none;
  outline-width: medium;
}

/* consistent dropdown field styling for all browsers */
select:not([multiple]) {
<<<<<<< HEAD
  padding: 8px 16px;
  padding-right: 2.5em;
  background: $primary-bg-color url("images/select_arrow.png") right 50% / 20px 11px no-repeat;
  -webkit-appearance: none;  /* Removes default chrome and safari style */
  -moz-appearance: none;     /* Removes default style Firefox */
}

div.popup_menu select:not([multiple]) {
  background: $popup-menu-select-bg-color url("images/select_arrow.png") right 10% / 20px 11px no-repeat;
=======
  padding-right: 2.5em;
  background-image: url("images/select_arrow.png");
  background-position: right 50%;
  background-repeat: no-repeat;
  background-size: 20px 11px;
  -webkit-appearance: none; /* Removes default chrome and safari style */
  -moz-appearance: none; /* Removes default style Firefox */
}

div.popup_menu select:not([multiple]) {
  background: $popup-menu-select-bg-color url("images/select_arrow.png") right 10% / 20px 11px
    no-repeat;
>>>>>>> upstream/master
}

select::-ms-expand {
  display: none;
}

<<<<<<< HEAD
input[type=file] {
  color: #000;
=======
input[type="file"] {
  color: rgb(0, 0, 0);
>>>>>>> upstream/master
}

form {
  margin: 0;
}

<<<<<<< HEAD
input:hover, select:hover, textarea:hover,
=======
input:hover,
select:hover,
textarea:hover,
>>>>>>> upstream/master
input[type="checkbox"]:hover + label:before {
  background-color: $input-hover-bg-color;
}

td.checkbox input[type="checkbox"] + label:before {
  margin: 0;
}

/* checkbox styling */
input[type="checkbox"] {
  display: none;

<<<<<<< HEAD
  &[disabled] + label:before {
    display: none;
  }

  + label:before {
=======
  + label::before {
>>>>>>> upstream/master
    display: inline-block;
    width: 12.5px;
    height: 12.5px;
    padding: 0;
    margin: -2px 4px 0 0;
    font-size: 12px;
    vertical-align: middle;
<<<<<<< HEAD
    background-color: $primary-bg-color;
    border: 1px $checkbox-border-color solid;
    content: "\00a0";
    box-shadow: 0.1px 1px 1.2px 0 $checkbox-shadow inset;
=======
    background-color: $checkbox-bg-color;
    border: 1px $checkbox-bg-color solid;
    content: "\00a0";
>>>>>>> upstream/master
  }

  &:checked {
    + label:before {
      color: $checkbox-checked-color;
      text-align: center;
<<<<<<< HEAD
      background-color: $checkbox-checked-bg-color;
=======
>>>>>>> upstream/master
      content: "\2716";
    }

    + label:after {
      font-weight: bold;
    }
  }
}

/* Select element with icons */
select.icon option {
  height: 18px;
  padding-left: 22px;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 18px;
}

<<<<<<< HEAD

// TODO : Figure out where these can be found in the front end
input.button,
table.vs_duallist a.control,
.wato div.mainmenu a {
  padding: 2px 6px;
  margin-left: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #497e95;
  border-color: #86a9b8 #22404d #22414d #86a9b8;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 0 1.5px #000;
=======
// TODO : Figure out where these can be found in the front end
input.button,
table.vs_duallist a.control {
  padding: 2px 6px;
  margin-left: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: $theme-border-radius;
>>>>>>> upstream/master
}

table.vs_duallist a.control,
table.vs_duallist body.main .popup_menu span.control,
body.main .popup_menu table.vs_duallist span.control {
<<<<<<< HEAD
  background-color: $theme-color-table-border;
  border-color: $theme-color-nuance-1;
  border-style: solid;
=======
  background-color: $button-bg-color-default;
>>>>>>> upstream/master
  box-shadow: none;
}

input.button,
table.vs_duallist a.control,
.wato div.mainmenu a {
  &:hover {
    text-decoration: none;
<<<<<<< HEAD
    background-color: #6da1b8;
  }

  &:active {
    background-color: #3b6678;
    border-color:  #22414d #86a9b8 #86a9b8 #22404d;
    box-shadow: inset 0 0 0.5px #444;
=======
  }

  &:active {
    box-shadow: inset 0 0 0.5px rgb(68, 68, 68);
>>>>>>> upstream/master
  }
}

input.button,
<<<<<<< HEAD
input.button:not([type=text]),
input.button:not([type=password]) {
  &[disabled="disabled"], &:disabled {
    &, &:hover, &:active {
      cursor: initial;
      background-color: #13d389;
      filter: grayscale(100%);
    }

    &:active {
      border-color: #86a9b8 #22404d #22414d #86a9b8;
      box-shadow: 0 0 1.5px #000;
=======
input.button:not([type="text"]),
input.button:not([type="password"]) {
  &[disabled="disabled"],
  &:disabled {
    &,
    &:hover,
    &:active {
      cursor: initial;
      background-color: $input-button-hover-bg-color;
      filter: grayscale(80%);
>>>>>>> upstream/master
    }
  }
}

input.button.hot {
<<<<<<< HEAD
  &, &:active {
    color: $hot-font-color;
    background-color: #11bd7b;
    border: 1px solid #11bd7b;
  }

  &:hover {
    background-color: #13d389;
=======
  &,
  &:active {
    color: $hot-font-color;
    background-color: rgb(17, 189, 123);
  }

  &:hover {
    background-color: rgb(19, 211, 137);
>>>>>>> upstream/master
  }
}

/* on/off toggle button */
.toggle_switch {
  width: 56px;
  height: 22px;
  padding: 2px;
<<<<<<< HEAD
  background: $primary_bg_color;
  border: 1px solid $theme-color-table-border;
=======
  background: $bg-color;
  border: 1px solid $color-table-border;
>>>>>>> upstream/master
  border-radius: 11px;
  box-shadow: none;
  box-sizing: border-box;

  /* TODO: Decide whether these .wato div.globalvars styles should stay here
   *       or rather go to _wato.scss - duplicating the .toggle_switch selector
   */
  a,
  body.main .popup_menu span,
  body.main .popup_menu & span,
  .wato div.globalvars & a,
  .wato div.globalvars & body.main .popup_menu span,
  body.main .popup_menu .wato div.globalvars & {
    height: $toggle-switch-height;
    font-size: 8px;
<<<<<<< HEAD
    font-weight: $theme-font-weight-bold;
    line-height: $toggle-switch-height;
    letter-spacing: $theme-letter-spacing-table;
=======
    font-weight: $font-weight-bold;
    line-height: $toggle-switch-height;
    letter-spacing: $letter-spacing-table;
>>>>>>> upstream/master
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    box-shadow: none;
  }

<<<<<<< HEAD
  a, .wato div.globalvars & a {
=======
  a,
  .wato div.globalvars & a {
>>>>>>> upstream/master
    display: block;
    width: 30px;
    color: $toggle-switch-font-color;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  &.on {
<<<<<<< HEAD
    a, .wato div.globalvars & a {
=======
    a,
    .wato div.globalvars & a {
>>>>>>> upstream/master
      float: right;
      background-color: $toggle-switch-on-bg-color;
      border: $toggle-switch-on-border;
    }
  }

  &.off {
<<<<<<< HEAD
    a, .wato div.globalvars & a {
=======
    a,
    .wato div.globalvars & a {
>>>>>>> upstream/master
      background-color: $toggle-switch-off-bg-color;
      border: $toggle-switch-off-border;
    }
  }

<<<<<<< HEAD
  a:hover, .wato div.globalvars & a:hover {
=======
  a:hover,
  .wato div.globalvars & a:hover {
>>>>>>> upstream/master
    /* TODO: create a better hover effect */
    text-decoration: none;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  table.data & {
<<<<<<< HEAD
    background-color: #999;

    a {
      color: #fff;
=======
    background-color: rgb(153, 153, 153);

    a {
      color: rgb(255, 255, 255);
>>>>>>> upstream/master
    }
  }
}

a.button {
  height: 24px;
  padding: 0.1ex 1ex;
  margin: 2px;
  font-weight: normal;
<<<<<<< HEAD
  color: #000;
  text-decoration: none;
  background-color: #cca;
  border-color: #ddd #888 #333 #ddd;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
=======
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgb(204, 204, 170);
  border-color: rgb(221, 221, 221) rgb(136, 136, 136) rgb(51, 51, 51) rgb(221, 221, 221);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
>>>>>>> upstream/master
}

/*for IE8 */
input[type="submit"]:focus {
  outline: none;
}

/* Images have a native size of 48x48 and are scaled down by the
   browser. That way if you select a zoom level in the browser,
   the quality of the images are better */

img.icon {
  width: 20px;
  height: 20px;
}

<<<<<<< HEAD
a.inline img.icon, img.icon.inline, div.icon {
=======
span.emblem {
  position: relative;
}

img.emblem {
  position: absolute;
  right: 3px;
  bottom: -3px;
  width: 10px;
  height: 10px;
}

a.inline img.icon,
img.icon.inline,
div.icon {
>>>>>>> upstream/master
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

h1 {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 23px;
<<<<<<< HEAD
  color: #fff;
=======
  color: rgb(255, 255, 255);
>>>>>>> upstream/master
}

div.livestatus.message {
  position: fixed;
  bottom: -10px;
  left: 10px;
  z-index: 20;
  font-size: 11px;
<<<<<<< HEAD
  color: #000;
=======
  color: rgb(0, 0, 0);
>>>>>>> upstream/master
}

/*-------------------------------------------------------------------------.
|                _____     _     _       _     _                           |
|               |  ___|__ | | __| | __ _| |__ | | ___                      |
|               | |_ / _ \| |/ _` |/ _` | '_ \| |/ _ \                     |
|               |  _| (_) | | (_| | (_| | |_) | |  __/                     |
|               |_|  \___/|_|\__,_|\__,_|_.__/|_|\___|                     |
|                                                                          |
+--------------------------------------------------------------------------+
| These styles are used by the {begin,end}_foldable_container() functions. |
'-------------------------------------------------------------------------*/

img.treeangle {
<<<<<<< HEAD
  width: 13px;
  height: 12px;
=======
  width: 9px;
  height: 8px;
>>>>>>> upstream/master
  margin-top: 0;
  margin-right: 3px;
  vertical-align: middle;
  cursor: pointer;
<<<<<<< HEAD
  filter: invert(20%);
  transition: transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -moz-transition: -moz-transform .2s ease-in-out;

  &.open {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
=======
  filter: $treeangle-img-filter;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;

  &.open {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
>>>>>>> upstream/master
  }

  &.nform {
    margin-left: -5px;
  }

  &.title {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
<<<<<<< HEAD
=======
    filter: none;
>>>>>>> upstream/master
  }
}

b.treeangle.title {
  font-weight: bold;
<<<<<<< HEAD
  color: #fff;
  cursor: pointer;

  table.data & {
    color: #000;
  }
}

img.treeangle+.treeangle.title {
=======
  color: $font-color;
  cursor: pointer;

  table.data & {
    color: rgb(0, 0, 0);
  }
}

img.treeangle + .treeangle.title {
>>>>>>> upstream/master
  display: inline-block;
}

ul.treeangle {
  position: relative; /* In order for placement of invtablelink */
  padding-left: 20px;
  margin: 8px 0;

  li {
    display: block;
    padding-left: 20px;
    margin: 0;
    margin-left: 16px;
    list-style: disc;
  }
}

ul.closed {
  display: none;
}

<<<<<<< HEAD


=======
>>>>>>> upstream/master
/*-------------------------------------------------------------------------.
|             __  __                                                       |
|            |  \/  | ___  ___ ___  __ _  __ _  ___  ___                   |
|            | |\/| |/ _ \/ __/ __|/ _` |/ _` |/ _ \/ __|                  |
|            | |  | |  __/\__ \__ \ (_| | (_| |  __/\__ \                  |
|            |_|  |_|\___||___/___/\__,_|\__, |\___||___/                  |
|                                        |___/                             |
+--------------------------------------------------------------------------+
| Styles for messages-boxes in various situations (called by htmllib.py)   |
'-------------------------------------------------------------------------*/

<<<<<<< HEAD
div.really, div.success, div.error, div.message, div.warning {
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1ex;
  box-shadow: 0 0 3px #444;
}

div.really {
  background-color: #fdc400;
  border-color: #800;
}

div.success {
  background-color: $success-alert-bg-color;
  border: 1px solid $success-alert-border-color;
}

div.message {
  color: #000;
  background-color: #9dbecd;
  border-color: #048;
}

div.error {
  color: $theme-color-lightgrey;
  background-color: $theme-color-state-2-background;
  border-color: #e40;

  a {
    color: #fff;
=======
div.really,
div.success,
div.error,
div.message,
div.warning {
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1ex;
  box-shadow: 0 0 3px rgb(68, 68, 68);
}

div.really {
  background-color: rgb(253, 196, 0);
  border-color: rgb(136, 0, 0);
}

div.success {
  background-color: $base-color;
}

div.message {
  color: rgb(0, 0, 0);
  background-color: rgb(157, 190, 205);
  border-color: rgb(0, 68, 136);
}

div.error {
  color: $lightgrey;
  background-color: $color-state-2-background;
  border-color: rgb(238, 68, 0);

  a,
  a:link {
    color: rgb(255, 255, 255);
>>>>>>> upstream/master
  }

  tt {
    color: inherit;
  }
}

.warning,
body.main div.warning {
<<<<<<< HEAD
  color: #000;
  background-color: $theme-color-main;
  border-color: #fc0;

  a, a:link {
=======
  color: rgb(0, 0, 0);
  background-color: $yellow;
  border-color: rgb(255, 204, 0);

  a,
  a:link {
>>>>>>> upstream/master
    color: $black;
  }
}

/* Warnings embedded in tables without margins and padding, those are
   just needed for body */

<<<<<<< HEAD
td div.warning, td > div.error {
=======
td div.warning,
td > div.error {
>>>>>>> upstream/master
  padding: 5px 10px;
  margin-top: 3px;
  margin-bottom: 3px;

  ul {
    padding-left: 0;
    margin: 5px 10px;
  }
}

/*-ValueSpec---------------------------------------------------------------.
|          __     __    _            ____                                  |
|          \ \   / /_ _| |_   _  ___/ ___| _ __   ___  ___                 |
|           \ \ / / _` | | | | |/ _ \___ \| '_ \ / _ \/ __|                |
|            \ V / (_| | | |_| |  __/___) | |_) |  __/ (__                 |
|             \_/ \__,_|_|\__,_|\___|____/| .__/ \___|\___|                |
|                                         |_|                              |
+--------------------------------------------------------------------------+
| Styles needed for HTML code produced by valuespec.py.                    |
'-------------------------------------------------------------------------*/

table.dictionary {
  width: 100%;

  b.header {
    font-size: 80%;
    font-weight: normal;
  }

  td.dictright {
    width: 99%;
    padding: 0;
    white-space: nowrap;
    border-style: none;
  }

  td.dictleft {
    width: 1%;
    white-space: nowrap;

    div.popup_menu {
      white-space: normal;
    }

    div.help {
      white-space: normal;
    }
  }
}

td.dictleft div.dictelement {
  float: none;
  margin-top: 3px;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 11px;

  * {
    font-size: 11px;
  }

<<<<<<< HEAD
  &.indent {
    padding-left: 10px;
    margin-left: 8px;
    border-left: 2px solid #ccc;
=======
  &:empty {
    margin: 0;
  }

  &.indent {
    padding-left: 10px;
    margin-left: 8px;
    border-left: 2px solid rgb(204, 204, 204);
>>>>>>> upstream/master

    ul {
      margin-top: 1px;
    }
  }
}

table.vs_dict_text {
  padding: 0;
  margin: 0;
  border-collapse: collapse;

  td,
  table.data tr td & > tbody > tr > td {
    padding: 0;
    margin: 0;
    vertical-align: top;
  }
}

table.valuespec_tuple {
  border-spacing: 2px;

  td {
    padding: 0;

    &.tuple_left {
      vertical-align: middle;
    }
  }

  span.title {
    font-size: 8pt;
  }
}

table.vs_date {
  display: inline-block;
  vertical-align: middle;
  border-spacing: 0;

  td {
    padding-top: 0;
    padding-right: 3px;
  }

  th {
    padding: 0;
    font-size: 7pt;
    font-weight: normal;
    text-align: center;
  }
}

table.valuespec_listof {
  width: 100%;

  &.regular {
    > tbody > tr > td {
<<<<<<< HEAD
      padding: 3px 0 5px 0;
      border-bottom: 1px solid #9bc;
=======
      padding: 3px 0 5px;
      border-bottom: 1px solid rgb(153, 187, 204);
>>>>>>> upstream/master

      &:first-child {
        padding-bottom: 5px;
      }
    }

    > tbody > tr:last-child > td {
      padding-top: 3px;
      border-bottom-style: none;
    }

    td.vlof_buttons {
      width: 1px;
      margin-right: 5px;
      white-space: nowrap;
      vertical-align: middle;
    }
  }

  option[selected] {
    font-weight: bold;
  }

  .unused {
    display: none;
  }
}

div.valuespec_listof.floating > table > tbody > tr > td:first-child {
  vertical-align: top;
}

div.valuespec_listof_floating_container {
  margin-top: -4px;
  vertical-align: top;

  > table {
    float: left;

    td {
      vertical-align: top;

      &.vlof_buttons img {
<<<<<<< HEAD
	margin-top: 4px;
      }

      &.vlof_content .tagify {
	tag {
	  margin: 4px 5px 2px 4px;

	  x {
	    display: none;
	  }

	  > div {
	    padding-right: .3em;
	  }
	}

	span.tagify__input {
	  margin: 3px 5px 2px 4px;
	}
=======
        margin-top: 4px;
      }

      &.vlof_content .tagify {
        tag {
          margin: 4px 5px 2px 4px;

          x {
            display: none;
          }

          > div {
            padding-right: 0.3em;
          }
        }

        span.tagify__input {
          margin: 3px 5px 2px 4px;
        }
>>>>>>> upstream/master
      }
    }
  }
}

<<<<<<< HEAD
table.nform table.valuespec_listof div.valuespec_listof_floating_container > table > tbody > tr > td {
=======
table.nform
  table.valuespec_listof
  div.valuespec_listof_floating_container
  > table
  > tbody
  > tr
  > td {
>>>>>>> upstream/master
  border-bottom: none;
}

table.valuespec_listof.regular > tbody > tr {
  &:last-child > td {
    padding-top: 3px;
    border-bottom-style: none;
  }

  > td {
    padding: 3px 0 5px;
<<<<<<< HEAD
    border-bottom: 1px solid #9bc;
=======
    border-bottom: 1px solid rgb(153, 187, 204);
>>>>>>> upstream/master

    &:first-child {
      padding-bottom: 5px;
    }
  }
}

table.vs_duallist {
  td {
<<<<<<< HEAD
  width: 50%;
=======
    width: 50%;
>>>>>>> upstream/master

    select {
      width: 100%;
      height: 200px;
      resize: both;
    }

    &.head {
<<<<<<< HEAD
      text-align:center;
=======
      text-align: center;
>>>>>>> upstream/master
    }
  }

  a.control {
    display: inline-block;
    float: right;
    width: 14px;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background-color: $duallist-control-a-hover-bg-color;
    }

    &.add {
      float: right;
    }

    &.del {
      float: left;
    }
  }
}

<<<<<<< HEAD
div.vs_autocomplete {
  position: absolute;
  z-index: 20;
  display: block;
  width: 160px;
  color: #000;
  background-color: #DFDFDF;
  border: 1px solid;
  border-color: #fff #000 #000 #fff;
  box-shadow: 0 0 1.5px #000000;

  ul {
    max-height: 80px;
    padding-left:0;
    margin: 0;
    overflow-y: scroll;
    list-style-type:none;
  }

  li {
    padding: 1px 3px;

    &:hover {
      color: #fff;
      cursor: default;
      background-color: #2c5766;
    }
  }
}

=======
>>>>>>> upstream/master
textarea.tt {
  font-family: monospace;
}

div.listofstrings {
  > div {
    margin-bottom: 2px;
  }

  &.horizontal {
    clear: left;

    > div {
      float: left;
      margin-right: 2px;
    }
  }
}

table.listchoice {
  border-collapse: collapse;

  td {
    height: 12px;
    padding: 0;
    margin: 0;

    span.checkbox {
      height: 10px;
    }

<<<<<<< HEAD
    input[type=checkbox] {
=======
    input[type="checkbox"] {
>>>>>>> upstream/master
      height: 12px;
      margin: 0;
    }
  }
<<<<<<< HEAD

  div.floatfilter.double > div.content > & {
    display: block;
    height: 80px;
    overflow: hidden;
    overflow-y:scroll;
  }
=======
>>>>>>> upstream/master
}

div.popup_container {
  position: relative;
}

div.popup {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 200;
  width: -moz-max-content;
  width: intrinsic;
<<<<<<< HEAD
  padding:10px;
  color: #fff;
  background-color: #45829D;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
=======
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(69, 130, 157);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  -webkit-border-radius: 5px;
>>>>>>> upstream/master

  span {
    display: block;
    margin-bottom: 5px;
<<<<<<< HEAD
    color: #fff;
=======
    color: rgb(255, 255, 255);
>>>>>>> upstream/master
  }
}

div#hover_menu {
  position: absolute;
  /* The hover menu needs to have a higher z-index than the highest element
     on the pages. In this case it was the perfometer which had 30. */
  z-index: 40;
  width: auto;
<<<<<<< HEAD
  color: #000;

  div.error, div.message {
=======
  color: rgb(0, 0, 0);

  div.error,
  div.message {
>>>>>>> upstream/master
    width: 350px;
    margin: 0;
  }

  div.message {
<<<<<<< HEAD
    color: $primary-sidebar-font-color;
    background-color: $theme-color-black;
=======
    color: $font-color;
    background-color: $bg-color;
>>>>>>> upstream/master
  }

  .graph_container div.title {
    display: block;
  }

  .graph_container div.time {
    letter-spacing: 0;
  }

  /* For pnp4nagios hover_menu graphs in the Raw Edition */
  table tbody tr td img {
    filter: $pnp4nagios-img-filter;
  }
}

/* Color picker styling */

div.popup_trigger.colorpicker div.popup_menu {
  min-width: auto;
}

.cp-preview {
  width: 28px;
  height: 18px;
<<<<<<< HEAD
  border: 1px solid $theme-color-darkgrey;
=======
  border: 1px solid $darkgrey;
>>>>>>> upstream/master
  border-radius: $theme-border-radius;
  box-shadow: none;

  table.data td & {
    position: relative;
    top: 2px;
  }
}

.picker-wrapper,
.slide-wrapper {
  position: relative;
  float: left;
}

.picker-indicator,
.slide-indicator {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.picker,
.slide {
  float: left;
  cursor: crosshair;
}

.cp-small {
  float: left;
  width: 170px;

  .picker {
    width: 150px;
    height: 150px;
<<<<<<< HEAD
    background-color: #fff;
=======
    background-color: rgb(255, 255, 255);
>>>>>>> upstream/master
  }

  .slide {
    width: 15px;
    height: 150px;
  }

  .slide-wrapper {
    margin-left: 5px;
  }

  .picker-indicator {
    width: 1px;
    height: 1px;
<<<<<<< HEAD
    background-color: #fff;
    border: 1px solid #000;
=======
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
>>>>>>> upstream/master
  }

  .slide-indicator {
    left: 0;
    width: 100%;
    height: 2px;
<<<<<<< HEAD
    background-color: #000;
=======
    background-color: rgb(0, 0, 0);
>>>>>>> upstream/master
  }
}

.cp-input {
  float: left;
  margin-top: 2px;
<<<<<<< HEAD
  color: $theme-color-text;

  input, select, textarea,
  div.snapin select, div.snapin & select,
  div.snapin textarea, div.snapin & textarea,
=======
  color: $font-color;

  input,
  select,
  textarea,
  div.snapin select,
  div.snapin & select,
  div.snapin textarea,
  div.snapin & textarea,
>>>>>>> upstream/master
  #mk_side_search_field {
    margin: 0;
    margin-bottom: 8px;
  }

  input {
    width: 106px;
  }
}

div.popup_trigger.colorpicker .popup_menu {
  top: 17px;
  left: 26px;
}

/*--Werks------------------------------------------------------------------.
|                    __        __        _                                 |
|                    \ \      / /__ _ __| | _____                          |
|                     \ \ /\ / / _ \ '__| |/ / __|                         |
|                      \ V  V /  __/ |  |   <\__ \                         |
|                       \_/\_/ \___|_|  |_|\_\___/                         |
|                                                                          |
+--------------------------------------------------------------------------+
| Pages showing the Check_MK change log (werks.py)                         |
'-------------------------------------------------------------------------*/

<<<<<<< HEAD
tr.data td.werklevel, tr.data td.werkclass, tr.data td.werkcomp {
=======
tr.data td.werklevel,
tr.data td.werkclass,
tr.data td.werkcomp {
>>>>>>> upstream/master
  width: 100px;
  text-align: center;
  white-space: nowrap;
}

table.data.werks {
<<<<<<< HEAD
  td.werkclassfeature, td.werkclassfix, td.werklevel2, td.werklevel3,
=======
  td.werkclassfeature,
  td.werkclassfix,
  td.werklevel2,
  td.werklevel3,
>>>>>>> upstream/master
  td.werkcompincomp_ack {
    color: $dark-font-color;
  }
}

table.data.werks {
  tr {
    &:nth-child(odd) {
      td.werklevel2 {
<<<<<<< HEAD
        background-color: $theme-color-state-5-background;
      }

      td.werklevel3 {
        background-color: $theme-color-state-6-background;
      }

      td.werkclassfeature {
        background-color: $theme-color-state-success-background;
      }

      td.werkclassfix {
        background-color: $theme-color-main;
      }

      td.werkclasssecurity {
        background-color: $theme-color-state-2-background;
      }

      td.werkcompincomp_unack {
        background-color: $theme-color-state-7-background;
      }

      td.werkcompincomp_ack {
        background-color: $theme-color-state-8-background;
=======
        background-color: $color-state-5-background;
      }

      td.werklevel3 {
        background-color: $color-state-6-background;
      }

      td.werkclassfeature {
        background-color: $color-state-success-background;
      }

      td.werkclassfix {
        background-color: $yellow;
      }

      td.werkclasssecurity {
        background-color: $color-state-2-background;
      }

      td.werkcompincomp_unack {
        background-color: $color-state-7-background;
      }

      td.werkcompincomp_ack {
        background-color: $color-state-8-background;
>>>>>>> upstream/master
      }
    }

    &:nth-child(even) {
      td.werklevel2 {
<<<<<<< HEAD
        background-color: $theme-color-state-5-background;
      }

      td.werklevel3 {
        background-color: $theme-color-state-6-background;
      }

      td.werkclassfeature {
        background-color: $theme-color-state-success-background;
      }

      td.werkclassfix {
        background-color: $theme-color-main;
      }

      td.werkclasssecurity {
        background-color: $theme-color-state-2-background;
      }

      td.werkcompincomp_unack {
        background-color: $theme-color-state-7-background;
      }

      td.werkcompincomp_ack {
        background-color: $theme-color-state-8-background;
=======
        background-color: $color-state-5-background;
      }

      td.werklevel3 {
        background-color: $color-state-6-background;
      }

      td.werkclassfeature {
        background-color: $color-state-success-background;
      }

      td.werkclassfix {
        background-color: $yellow;
      }

      td.werkclasssecurity {
        background-color: $color-state-2-background;
      }

      td.werkcompincomp_unack {
        background-color: $color-state-7-background;
      }

      td.werkcompincomp_ack {
        background-color: $color-state-8-background;
>>>>>>> upstream/master
      }
    }
  }

  td {
    &.werklevel3 {
      font-weight: bold;
    }

    &.werkclasssecurity {
      font-weight: bold;
<<<<<<< HEAD
      color: #fff;
=======
      color: rgb(255, 255, 255);
>>>>>>> upstream/master
    }

    &.werkcompincomp_unack {
      font-weight: bold;
    }
  }

  &.headerleft td {
    text-align: left;
  }
}

table.werks td a,
table.werks td body.main .popup_menu span,
body.main .popup_menu table.werks td span {
<<<<<<< HEAD
  color: $theme-color-black;
  text-decoration: underline;
}


=======
  color: $black;
  text-decoration: underline;
}

>>>>>>> upstream/master
/* NOWIKI formatting in Werks */
td.nowiki {
  h3 {
    font-size: 13px;
    font-weight: bold;
<<<<<<< HEAD
    color: #000;
=======
    color: rgb(0, 0, 0);
>>>>>>> upstream/master
  }

  pre {
    padding: 3px 8px;

    &.code {
<<<<<<< HEAD
      background-color: #fff;
    }

    &.file {
      background-color: #fff0b5;
=======
      background-color: rgb(255, 255, 255);
    }

    &.file {
      background-color: rgb(255, 240, 181);
>>>>>>> upstream/master
    }
  }

  div.filename {
    padding: 3px 8px;
    margin-bottom: -12px;
    font-family: Hack, courier;
    font-weight: bold;
<<<<<<< HEAD
    background-color: #e6d8a3;
=======
    background-color: rgb(230, 216, 163);
>>>>>>> upstream/master
  }

  table {
    margin: 10px 0;
<<<<<<< HEAD
    border: 1px solid #000;
    border-collapse: collapse;

    table td, table th {
      border: 1px solid #888;
=======
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;

    table td,
    table th {
      border: 1px solid rgb(136, 136, 136);
>>>>>>> upstream/master
    }
  }
}

/* Command for modifying existing downtimes */
table.modifydowntimes > tbody > tr {
  > td:nth-child(1) {
    padding-top: 10px;
    vertical-align: middle;
  }

<<<<<<< HEAD
  &:nth-child(1) > td:nth-child(1)  {
=======
  &:nth-child(1) > td:nth-child(1) {
>>>>>>> upstream/master
    padding-top: 0;
  }
}

.select2-container .select2-selection--single {
  height: 23px;
<<<<<<< HEAD
}

.select2-container--default {

  .select2-results {
    color: #000;
=======
  border: none;
}

.select2-container--default {
  .select2-results {
    color: rgb(0, 0, 0);
>>>>>>> upstream/master
  }

  .select2-selection--single {
    border-radius: 4px;

    .select2-selection__rendered {
      line-height: 23px;
      color: $select2-rendered-color;
    }

    .select2-selection__arrow b {
      margin-top: -4px;
    }
  }

  .select2-dropdown {
<<<<<<< HEAD
    background-color: $primary-bg-color;
    border: $primary-border;
=======
    background-color: $select2-dropdown-bg-color;
    border: 1px solid $button-bg-color-default;
>>>>>>> upstream/master
  }

  .select2-results__option {
    color: $select2-rendered-color;
<<<<<<< HEAD
    background-color: $primary-bg-color;
  }

  .select2-results__option[aria-selected=true] {
    background-color: $select2-selected-bg-color;
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $select2-highlighted-bg-color;
  }
}

=======
    background-color: $select2-dropdown-bg-color;
  }

  .select2-results__option[aria-selected="true"] {
    background-color: $select2-dropdown-bg-color;
  }

  .select2-results__option--highlighted[aria-selected] {
    color: $success;
    background-color: $select2-dropdown-bg-color;
  }

  .select2-search--dropdown .select2-search__field {
    border: $select2-search-field-border;
  }
}

div.vs_autocomplete {
  height: 22px;

  .error {
    padding: 0.5em 2em;
    margin: 0;
  }

  & > .select2-container--below > .selection > span {
    display: none;
  }
}

div.metricchoice div.vs_autocomplete .select2-dropdown--below {
  top: -11px;
}

span.vs_autocomplete {
  .select2-dropdown {
    position: inherit;
    border: none;
  }

  .select2-dropdown--below {
    top: -7px;
    border-radius: $theme-border-radius;
  }

  .select2-search--dropdown {
    padding: 0;
    margin: 0;
  }

  .select2-search__field {
    height: 22px;
    padding-left: 6px;
    border-radius: 4px;
  }

  .select2-results__options {
    border: 1px solid $button-bg-color-default;
    border-radius: 4px;
  }
}

div.vs_age.inline {
  display: inline-block;
}

>>>>>>> upstream/master
/* TODO: Go through these following styles and move them to specific scss
 *       where needed
 */
* {
<<<<<<< HEAD
  letter-spacing: $theme-letter-spacing;
=======
  letter-spacing: $letter-spacing-default;
>>>>>>> upstream/master
  text-shadow: none;
}

html {
<<<<<<< HEAD
  font-size: $theme-font-size-global;
}

.link, .title {
  display: inline-block;
  padding: 0 2px; /* affects spacing in sidebar plugins */
  font-size: $theme-font-size-main;
  font-weight: $theme-font-weight-global;
  letter-spacing: $theme-letter-spacing-table;
  color: $theme-color-text;
  transition: color .15s ease-in-out;
}

a.iconlink img, body.main .popup_menu span.iconlink img {
  display: block;
  float: left;
}

div.graph {
  border: 1px solid $theme-color-table-border;
  border-radius: $theme-border-radius;
  box-shadow: none;


=======
  height: 100%;
  font-size: $font-size-global;
}

.link,
.title {
  display: inline-block;
  padding: 0 2px; /* affects spacing in sidebar plugins */
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  letter-spacing: $letter-spacing-table;
  color: $font-color;
  transition: color 0.15s ease-in-out;
}

div.graph {
  border: 1px solid $color-table-border;
  border-radius: $theme-border-radius;
  box-shadow: none;

>>>>>>> upstream/master
  &.preview {
    padding: 4px !important;
  }

  table.legend {
    td {
      color: $graph-legend-color;
    }

    th {
      border-bottom: $graph-legend-th-border-bottom;
    }
  }

  div.time {
    color: $graph-time-color;
  }

  &.brokengraph {
    box-shadow: none;

    div.title {
      padding: 8px;
    }

    pre {
      padding: 0 8px 8px;
      margin: 0;
      color: $graph-time-color;
    }
  }
}

div.graph_hover_popup {
  color: $graph-hover-popup-font-color;
  background-color: $graph-hover-popup-bg-color;
  border: $graph-hover-popup-border;
  box-shadow: $graph-hover-popup-box-shadow;
}

.graph {
  background-color: $graph-bg-color;
}

div.content {
  top: 64px;
  width: 100%;
<<<<<<< HEAD
  padding: 16px;
  box-sizing: border-box;
}

body.main img.treeangle {
  filter: invert($filter-inversion-percentage);
}

=======
  padding: $spacing;
  box-sizing: border-box;
}

>>>>>>> upstream/master
/* TODO: Reproduce this element then get rid of important styles */
.op {
  width: 60px !important;
}

<<<<<<< HEAD
.bi_rule_tree img.treeangle, .invtree img.treeangle,
.grouped_row_header img.treeangle.nform, .aggrtree img.treeangle {
  &, body.main & {
    filter: invert(0%);

    &.open, &.closed {
      margin: 1px 4px 0;
      filter: $tree-collapse-img-filter;
=======
.bi_rule_tree img.treeangle,
.invtree img.treeangle,
.grouped_row_header img.treeangle.nform,
.aggrtree img.treeangle {
  &,
  body.main & {
    &.open,
    &.closed {
      margin: 1px 4px 0;
>>>>>>> upstream/master
    }
  }
}

table.report_contents td.preview img {
<<<<<<< HEAD
  border: 1px solid $theme-color-nuance-3;
=======
  border: 1px solid $color-nuance-3;
>>>>>>> upstream/master
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table td {
  vertical-align: middle;
}

/* Graphs */
div.graph_with_timeranges {
  margin-bottom: 32px;

  div.graph {
<<<<<<< HEAD
    border: 1px solid $theme-color-table-border;
=======
    border: 1px solid $color-table-border;
>>>>>>> upstream/master
    box-shadow: none;

    div.title {
      display: block;
    }

    canvas {
      margin-bottom: 8px;
    }

    &.preview canvas {
      margin-bottom: 0;
    }

    &.preview .title {
      top: 12px;
      width: calc(100% - 16px);
      padding: 8px 0;
<<<<<<< HEAD
      font-weight: $theme-font-weight-global;
      color: $theme-color-text;
=======
      font-weight: $font-weight-default;
      color: $font-color;
>>>>>>> upstream/master
      text-shadow: none;
      box-sizing: border-box;
    }

    table.legend {
      margin-top: 32px;

      th.scalar {
        text-align: right;
      }

      td {
        background: transparent;
      }
    }
  }

  table.timeranges > tbody > tr > td {
    padding: 0 8px 4px;
<<<<<<< HEAD
    border: none solid $theme-color-white;
=======
    border: none;
>>>>>>> upstream/master

    &:first-child {
      border-right: none solid;
    }

    &:last-child {
      border-left: none solid;
    }
  }
}

table.data td > div:first-child div.graph_with_timeranges {
  margin-top: 8px;
}

table.data td > div:last-child div.graph_with_timeranges {
  margin-bottom: 8px;
}

<<<<<<< HEAD
div.metricchoice select, div.metricchoice input, div.metricchoice select,
div.metricchoice textarea, div.metricchoice #mk_side_search_field {
=======
div.metricchoice select,
div.metricchoice input,
div.metricchoice select,
div.metricchoice textarea,
div.metricchoice #mk_side_search_field {
>>>>>>> upstream/master
  margin: 4px 0;
}

td.title {
  display: table-cell;
}

<<<<<<< HEAD
/* Spezielle Snapins */
table.cmc_stats {
  width: 100%;
  padding: 8px;
  background-color: $theme-color-table-background-dark;
  border: 1px solid $theme-color-table-border-dark;
  border-spacing: 4px;
  box-sizing: border-box;

  td {
    font-weight: $theme-font-weight-global;
    letter-spacing: $theme-letter-spacing-table;
  }
}

#form_search input, #form_search select, #form_search textarea,
=======
#form_search input,
#form_search select,
#form_search textarea,
>>>>>>> upstream/master
#form_search #mk_side_search_field {
  width: auto;
  border: $primary-border;
}

select.vlof_filter {
  width: auto;
}

div.timerange {
<<<<<<< HEAD
  font-size: $theme-font-size-main;
  color: $theme-color-darkgrey;
}

body.main.visible div.foldable .title {
  color: $theme-color-text;
=======
  font-size: $font-size-default;
  color: $darkgrey;
}

body.main.visible div.foldable .title {
  color: $font-color;
>>>>>>> upstream/master
}

div.color {
  border-color: $color-div-border-color !important;
  border-radius: 0;
  box-shadow: $color-div-box-shadow;
}

/* TODO: Reproduce this element then get rid of important styles */
th.header_state {
<<<<<<< HEAD
  color: $theme-color-text !important;
=======
  color: $font-color !important;
>>>>>>> upstream/master
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }
}

<<<<<<< HEAD
.hot a, .hot body.main .popup_menu span, body.main .popup_menu .hot span {
  color: $hot-font-color;
  background-color: $hot-bg-color;
  border-color: $theme-color-nuance-16;
=======
.hot a,
.hot body.main .popup_menu span,
body.main .popup_menu .hot span {
  color: $hot-font-color;
  background-color: $hot-bg-color;
  border-color: $color-nuance-16;
>>>>>>> upstream/master
}

div.info {
  margin: 16px 0 8px;
<<<<<<< HEAD
  font-size: $theme-font-size-main;
  font-weight: 500;
  letter-spacing: $theme-letter-spacing;
  color: $theme-color-text;
}

.age {
  input, select, textarea, div.snapin select, div.snapin & select,
  div.snapin textarea, div.snapin & textarea, #mk_side_search_field {
=======
  font-size: $font-size-default;
  font-weight: 500;
  letter-spacing: $letter-spacing-default;
  color: $font-color;
}

.age {
  input,
  select,
  textarea,
  div.snapin select,
  div.snapin & select,
  div.snapin textarea,
  div.snapin & textarea,
  #mk_side_search_field {
>>>>>>> upstream/master
    box-sizing: content-box;
  }
}

<<<<<<< HEAD
.filterform {
  input, select, textarea, div.snapin select, div.snapin & select,
  div.snapin textarea, div.snapin & textarea, #mk_side_search_field {
    column-span: all;
  }
}

body.main a, body.main .popup_menu span, body.main .popup_menu a,
body.main a:link, body.main a:visited {
  color: $theme-color-text;
=======
body.main a,
body.main .popup_menu span,
body.main .popup_menu a,
body.main a:link,
body.main a:visited {
  color: $font-color;
>>>>>>> upstream/master
}

img.glass {
  display: none;
}

tr.hidden {
  display: none;
}
<<<<<<< HEAD
=======

.simplebar-scrollbar::before {
  background: $simplebar-scrollbar-color;
  border-radius: 2px;
}

.simplebar-track {
  &.simplebar-vertical div.simplebar-scrollbar::before {
    left: 3px;
    width: $simplebar-scrollbar-width;
  }

  &.simplebar-horizontal div.simplebar-scrollbar {
    top: 3px;
    height: $simplebar-scrollbar-width;
  }
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

body.main a.delete_button img {
  filter: $inpage-close-button-filter;
}
>>>>>>> upstream/master
